.myModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.2;
    display: none;
}

.myPop {
    position: absolute;
    display: none;
}

.myPop-title {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background: #3385FF;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 5px;
    cursor: move;
}

.myPop-close {
    float: right;
    cursor: pointer;
}

.myPop-content {
    min-width: 400px;
    min-height: 200px;
    border-radius: 0 0 10px 10px;
    background: #FFFFFF;
    padding: 5px;
}